NODE_ENV=development

PORT=4000

DATABASE_URL=

FRONTEND_URL=http://localhost:3000
# For multiple origins:
# FRONTEND_URL=http://localhost:3000,https://your-frontend-domain.com

CLERK_SECRET_KEY=

CLERK_PUBLISHABLE_KEY=
